/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );
@import "../../node_modules/leaflet/dist/leaflet.css";

.geojson {
  stroke-width: 1;
  fill-opacity: 1.0;
  stroke: grey;
  cursor: grab;
}

.leaflet-container :focus:not(:focus-visible) {
  outline: 0;
}

